.navbar,
li,
li a {
    transition: 0.4s;
}
#page-container,
li,
li a,
ul {
    min-height: 100%;
}
.text {
    font-family: Raleway, sans-serif;
    text-decoration: none;
}
.text.small {
    font-size: 14px;
}
.text.medium {
    font-size: 22px;
}
.text.large {
    font-size: 32px;
}
.text.xlarge {
    font-size: 72px;
}
.text.xxlarge {
    font-size: 96px;
}
.text.left {
    text-align: left;
}
.text.center {
    text-align: center;
}
.text.right {
    text-align: right;
}
.text.light {
    color: #eee;
}
.text.light::placeholder {
    color: #eee;
    opacity: 1;
}
li a.selected,
li a:hover {
    opacity: 0.9;
}
.text.light:-ms-input-placeholder {
    color: #eee;
}
.text.light::-ms-input-placeholder {
    color: #eee;
}
.text.center::placeholder {
    text-align: center;
}
.text.center:-ms-input-placeholder {
    text-align: center;
}
.text.center::-ms-input-placeholder {
    text-align: center;
}
.text.dark {
    color: #333;
}
.text.red {
    color: #7a1400;
}
.text.underline {
    text-decoration: underline;
}
a.text {
    color: #eee;
}
li a,
li a:hover {
    color: #fff;
    text-decoration: none;
}
.text.no-margin-top {
    margin-top: 0;
}
.text.no-margin-right {
    margin-right: 0;
}
.text.no-margin-bottom {
    margin-bottom: 0;
}
.text.no-margin-left {
    margin-left: 0;
}
.text.no-margin {
    margin: 0;
}
.text.small-margin {
    margin: 5px;
}
.text.small-margin-top {
    margin-top: 5px;
}
.text.small-margin-right {
    margin-right: 5px;
}
.text.small-margin-bottom {
    margin-bottom: 5px;
}
.text.small-margin-left {
    margin-left: 5px;
}
.text.nolink {
    text-decoration: none;
}
.text.xbold {
    font-weight: 900;
}
.navbar {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    margin-bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 1000;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: 0 0;
}
li {
    float: right;
    display: inline;
}
li a {
    display: block;
    text-align: center;
    padding: 13px 32px;
    text-transform: uppercase;
    opacity: 0.35;
}
.navbar-logo {
    float: left;
    display: inline;
    position: absolute;
    padding: 3px 0 10px;
    left: 1vw;
    top: 1vh;
}
.page-title {
    float: left;
    margin-left: 60px;
    margin-top: 10px;
}
body,
html {
    overflow: auto;
    height: 100%;
}
#page-container {
    background-size: auto 100%;
    padding-top: 50px;
}
.maginalize {
    margin-top: 10vh;
}
a:hover {
    text-decoration: none;
}
.no-padding {
    padding: 0 !important;
}
