.text{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
  }
  body{
    overflow: hidden;
    width: 100dvw;
    height: 100dvh;
    background: url("../images/landing-sky.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  .body{
    margin-top: 10dvh;;
  }
  .infoCon{
    display: flex;
    justify-content: center;
  }
  .free{
    background-color: #A37C7C;
    width: 35dvw;
    height: 40dvh;
    border-radius: 20px;
    margin: 15px;
    background: linear-gradient(to bottom, #A37C7C, #a37c7cd0);
    text-align: left;
    padding: 10px;
    color: #ffffff;
  }
  .pro{
    background-color: #A37C7C;
    width: 35vw;
    height: 40dvh;
    border-radius: 20px;
    margin: 15px;
    background: linear-gradient(to bottom, #A37C7C, #a37c7cd0);
    text-align: left;
    padding: 10px;
    color: #ffffff;
  }
  .title{
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-align: center;
    }
  .loginCon{
    border-bottom: 1px solid #ffffff;
    width: 50dvw;
    height: 10dvh;
  }
  .logContainer{
    display: flex;
    justify-content: center;
  }
  .loginPrompt{
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin: 0%;
  }
  li{
    margin: 5px;
    font-size: large;
  }