.text{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
  }
  body{
    overflow: hidden;
    width: 100dvw;
    height: 100dvh;
    background: url("../images/landing-sky.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  #namer{
    color: black;
    width: 300px;
    height: 35px;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
  }
  .sumResults{
    width:90dvw;
    height: 60dvh;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content:left ;
    overflow-y: auto;
  }
  .sumResults h3{
    margin-left: 10px;
    margin-top: 10px;
  }
  .title{
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    margin-left: 5dvw;
  }

  .saveButton{
    display: flex;
    justify-content: center;
    color:aliceblue;
    width: 100px;
    height: 35px;
    text-align: center;
    border-radius: 20px;
    font-size: 15px;
    background-color: #A37C7C;
    text-align: center;
    margin-top: 2px;
    margin-left: 10px;
  }
  .saveButton h2{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
  }
  .saveButton:hover{
    background-color: #a37c7c6f;
    cursor: pointer;
  }
  .renameSection{
    display: flex;
    justify-content:center ;
  }
  .sumResultDiv{
    display: flex;
    justify-content: center;
  }

  .secondCon{
    margin-right: 5dvw;
    display: flex;
    justify-content: space-between;
  }

  .resultSymbols{
    filter: invert(50%) hue-rotate(86deg);
    margin-left: 10px;
  }
  .resultSymbols:hover{
    filter: invert(30%) hue-rotate(86deg);
    cursor: pointer;
  }
  .secondCon div{
    margin-top: auto;
    margin-bottom: auto;
  }
  .URLResult{
    width:80dvw;
    height: 45px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content:flex-end ;
    overflow-x: auto;
    display: flex;
    justify-content: left;
  }
  .URLResult h3{
    margin-left: 10px;
    margin-top: 10px;
  }
  .shortResultDiv{
    display: flex;
    justify-content: center;
  }
  .shortSecCon{
    margin-top: 20dvh;
  }
  .shortThirdCon{
    margin-top: 10dvh;
    display: flex;
  }
  .shortSecConh1{
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    margin-left: 9dvw;
  }

  .counter{
    width:9dvw;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content:flex-end ;
    margin-top: 25px;
    margin-left: 2dvw;
    display: flex;
    justify-content:center;
  }
  .counter h2{
    margin-top: 12px;
    font-size: 14px;
  }